<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <i class="fa-solid fa-user-plus fa-5x"></i>
            <p>
                You must create an account or login in order to use the apps on this page. 
                <br>
                Your information will only be used to connect you to your apps.
            </p>
            <a href="/register" class="btn btn-primary btn-block mb-1"> Register here </a>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <i class="fa-solid fa-right-to-bracket fa-5x"></i>
            <p>
                Use the button below to login if you already have an account. 
            </p>
            <a href="/login" class="btn btn-primary btn-block mb-1"> Login here </a>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <i class="fa-solid fa-block-question fa-5x"></i>
            <p>
                If you would like to test the apps before signing up, try guest mode. 
                <br>
                In this mode you will have full access to the apps, but everything you do will get deleted when you refresh the page. 
            </p>
            <a href="/user/guest_dash" class="btn btn-primary btn-block mb-1"> Guest mode </a>
        </div>
    </div>
</div>
